Repository GaspardVCS/tweetoscope-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: generator_docker_image, collector_docker_image, estimator_docker_image, predictor_docker_image

.gitlab-ci.yml:

stages:
  - update_generator_docker_image
  - update_collector_docker_image
  - update_estimator_docker_image
  - update_predictor_docker_image
  - python_unit_tests

services:
  - docker:dind

generator_docker_image:
  stage: update_generator_docker_image
  image: docker:latest
  script:
    - docker build -t  gaspardv/tweetoscope_generator -f docker/Dockerfile.tweet_generator .
    - docker login -u gaspardv -p $CI_REGISTRY_TOKEN $CI_REGISTRY
    - docker push  gaspardv/tweetoscope_generator
  only:
    changes:
      - tweet_generator/*


collector_docker_image:
  stage: update_collector_docker_image
  image: docker:latest
  script:
    - docker build -t  gaspardv/tweetoscope_collector -f docker/Dockerfile.tweet_collector .
    - docker login -u gaspardv -p $CI_REGISTRY_TOKEN $CI_REGISTRY
    - docker push  gaspardv/tweetoscope_collector
  only:
    changes:
      - tweet_collector/*
  
estimator_docker_image:
  stage: update_estimator_docker_image
  image: docker:latest
  script:
    - docker build -t  gaspardv/tweetoscope_estimator -f docker/Dockerfile.hawkes_estimator .
    - docker login -u gaspardv -p $CI_REGISTRY_TOKEN $CI_REGISTRY
    - docker push  gaspardv/tweetoscope_estimator
  only:
    changes:
      - hawkes_estimator/*
  
predictor_docker_image:
  stage: update_predictor_docker_image
  image: docker:latest
  script:
    - docker build -t  gaspardv/tweetoscope_predictor -f docker/Dockerfile.predictor .
    - docker login -u gaspardv -p $CI_REGISTRY_TOKEN $CI_REGISTRY
    - docker push  gaspardv/tweetoscope_predictor
  only:
    changes:
      - predictor/*
  
test_pytest:
  stage: python_unit_tests
  image: python:3.6
  script:
    - pip3 install -r requirements.txt
    - pip3 install pytest --quiet
    - pytest --junitxml=report.xml
  artifacts:
    when: always
    reports:
      junit: report.xml

[UPDATE] readme
  README.md
  tweet_collector/main_tweet_collector.py
Due: collector_docker_image

[CLEAN] add comments(
  tweet_collector/processor.py
  tweet_collector/tweetoscopeCollectorParams.py
Due: collector_docker_image

[CLEAN] Add comments
  predictor/main_predictor.py
  predictor/predictor.py
Due: predictor_docker_image

[CLEAN] add comments
  learner/learner.py
  learner/main_learner.py
Due: none

[CLEAN] Add comments
  hawkes_estimator/main_estimator.py
Due: estimator_docker_image

[TEST] search for the port on which to co,ecté
  docker/Dockerfile.tweet_generator
Due: none

[TEST] new porté
  tweet_generator/params.config-deploy
Due: generator_docker_image

[CHANGE] to deploy
  docker/Dockerfile.tweet_collector
Due: none

[TEST]
  docker/Dockerfile.tweet_collector
Due: none

[UPDATE] push images when dokerfile changeé
  .gitlab-ci.yml
Due: none

[TEST]
  docker/Dockerfile.tweet_generator
Due: none

[ADD] v0 of kubernetes
  kubernetes/generator.yml
  kubernetes/kafka-zookeeper.yml
Due: none

[UPDATE] dockerfile to choose which param file to launch at the beginning
  docker/Dockerfile.tweet_collector
  docker/Dockerfile.tweet_generator
  kubernetes/generator.yml
Due: none

[UPDATE] use args to choose brokers list
  docker/Dockerfile.hawkes_estimator
  hawkes_estimator/main_estimator.py
  kubernetes/generator.yml
Due: estimator_docker_image

[CLEAN] rename file
  kubernetes/services.yml
Due: none

[TEST]
  hawkes_estimator/main_estimator.py
Due: estimator_docker_image

[UPDATE] docker so we can choose broker list afterwards
  docker/Dockerfile.predictor
Due: none

[CLEAN] remove print test
  hawkes_estimator/main_estimator.py
Due: estimator_docker_image

[ADD] predictor to kubernetes
  kubernetes/services.yml
Due: none

[UPDATE] predictor to choose broker list at launch
  predictor/main_predictor.py
Due: predictor_docker_image

[CLEAN] remove test print
  predictor/main_predictor.py
Due: predictor_docker_image

[UPDATE] add args to choose broker list
  learner/learner.py
  learner/main_learner.py
Due: none

[CLEAN] remove useless stuff
  learner/learner.py
  learner/params.py
Due: none

[UPDATE] remove CMD
  docker/Dockerfile.learner
Due: none

[ADD] learner to kubernetes
  kubernetes/services.yml
Due: none

[CLEAN] remove print test
  learner/main_learner.py
Due: none

[UPDATE] add command to launch services
  docker/docker-compose-services.yml
Due: none

[UPDATE] adapt the docker-compose to receive command in the docker-compose file and not in the dockerfile
  docker/docker-compose-services.yml
Due: none

[UPDATE] change from pod to deployment
  kubernetes/services.yml
Due: none

[UPDATE] number of partitiions
  kubernetes/kafka-zookeeper.yml
Due: none

[UPDATE] Readme
  README.md
Due: none

[ADD] dockerfile for consumers
  docker/Dockerfile.consumers
Due: none

[UPDATE] choose broker list from args
  kafka_consumers/alert_consumer.py
  kafka_consumers/model_consumer.py
  kafka_consumers/params.py
  kafka_consumers/properties_consumer.py
  kafka_consumers/sample_consumer.py
  kafka_consumers/series_consumer.py
  kafka_consumers/stat_consumer.py
  kafka_consumers/tweets_consumer.py
Due: none

[UPDATE] add broker as arg
  consumer_tmuxp.json
Due: none

[ADD] alert and stat consumers
  kubernetes/services.yml
Due: none

[UPDATE] add kubernetes on minikube explanation
  README.md
Due: none

[UPDATE] table of contents
  README.md
Due: none

[CLEAN] remove comment
  docker/Dockerfile.hawkes_estimator
  docker/Dockerfile.learner
  docker/Dockerfile.predictor
  docker/Dockerfile.tweet_collector
  docker/Dockerfile.tweet_generator
Due: none
