Repository GaspardVCS/tweetoscope-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: generator_docker_image, collector_docker_image, estimator_docker_image, predictor_docker_image

.gitlab-ci.yml:

stages:
  - update_generator_docker_image
  - update_collector_docker_image
  - update_estimator_docker_image
  - update_predictor_docker_image
  - python_unit_tests

services:
  - docker:dind

generator_docker_image:
  stage: update_generator_docker_image
  image: docker:latest
  script:
    - docker build -t  gaspardv/tweetoscope_generator -f docker/Dockerfile.tweet_generator .
    - docker login -u gaspardv -p $CI_REGISTRY_TOKEN $CI_REGISTRY
    - docker push  gaspardv/tweetoscope_generator
  only:
    changes:
      - tweet_generator/*


collector_docker_image:
  stage: update_collector_docker_image
  image: docker:latest
  script:
    - docker build -t  gaspardv/tweetoscope_collector -f docker/Dockerfile.tweet_collector .
    - docker login -u gaspardv -p $CI_REGISTRY_TOKEN $CI_REGISTRY
    - docker push  gaspardv/tweetoscope_collector
  only:
    changes:
      - tweet_collector/*
  
estimator_docker_image:
  stage: update_estimator_docker_image
  image: docker:latest
  script:
    - docker build -t  gaspardv/tweetoscope_estimator -f docker/Dockerfile.hawkes_estimator .
    - docker login -u gaspardv -p $CI_REGISTRY_TOKEN $CI_REGISTRY
    - docker push  gaspardv/tweetoscope_estimator
  only:
    changes:
      - hawkes_estimator/*
  
predictor_docker_image:
  stage: update_predictor_docker_image
  image: docker:latest
  script:
    - docker build -t  gaspardv/tweetoscope_predictor -f docker/Dockerfile.predictor .
    - docker login -u gaspardv -p $CI_REGISTRY_TOKEN $CI_REGISTRY
    - docker push  gaspardv/tweetoscope_predictor
  only:
    changes:
      - predictor/*
  
test_pytest:
  stage: python_unit_tests
  image: python:3.6
  script:
    - pip3 install -r requirements.txt
    - pip3 install pytest --quiet
    - pytest --junitxml=report.xml
  artifacts:
    when: always
    reports:
      junit: report.xml

[REMOVE] ipykernel
  requirements.txt
Due: none

[CHANGE] pip3 for pip
  .gitlab-ci.yml
Due: none

[REMOVE] unit test part
  .gitlab-ci.yml
Due: none

[TEST] change kafka brokers to kafka service for k8s
  tweet_generator/params.config
Due: generator_docker_image

[TEST] change broker to kafka service for collector
  tweet_collector/collector-params
Due: collector_docker_image

[TEST] print something
  tweet_collector/main_tweet_collector.py
Due: collector_docker_image

[ADD] parameters files for deployement
  tweet_collector/collextor-params-deploy
  tweet_generator/params.config-deploy
Due: generator_docker_image, collector_docker_image

[ADD] directory for learner
  learner/learner.py
Due: none

[ADD] tmuxp configuration for consumer in local
  consumer_tmuxp.json
Due: none

[ADD] kafka consumers for testing in local
  kafka_consumers/alert_consumer.py
  kafka_consumers/properties_consumer.py
  kafka_consumers/sample_consumer.py
  kafka_consumers/series_consumer.py
  kafka_consumers/stat_consumer.py
  kafka_consumers/tweets_consumers.py
Due: none

[REMOVE] allow to add kafka consumer folder
  .gitignore
Due: none

[ADD] main file for leaner
  learner/main_learner.py
Due: none

[ADD] first version of learner
  learner/learner.py
  learner/main_learner.py
Due: none

[ADD] pickle files to ignore
  .dockerignore
  .gitignore
Due: none

[UPDATE] json file for tmuxp, remove clear command
  consumer_tmuxp.json
Due: none

[ADD] model topic consumer
  kafka_consumers/model_consumer.py
Due: none

[UPDATE] learner class, now finished
  learner/learner.py
Due: none

[UPDATE] main_learner function
  learner/main_learner.py
Due: none

[ADD] fix?
  hawkes_estimator/estimator.py
Due: estimator_docker_image

[UPDATE] predictor to use rf
  predictor/predictor.py
Due: predictor_docker_image

[UPDATE] now read from model topic
  predictor/main_predictor.py
Due: predictor_docker_image

[UPDATE] change speed of tweet production
  tweet_generator/params.config
Due: generator_docker_image

[CLEAN] remove useless import
  tweet_collector/processor.py
Due: collector_docker_image

[ADD] Dockerfile for learner container
  docker/Dockerfile.learner
Due: none

[UPDATE] add leaner to docker-compose service
  docker/docker-compose-services.yml
Due: none

[FIX] typo in image name
  docker/docker-compose-services.yml
Due: none

[ADD] learner docker image to cicd
  .gitlab-ci.yml
Due: none

[ADD] sklearn to requirements
  requirements.txt
Due: none

[FIX] typo in docker image name
  .gitlab-ci.yml
Due: none

[ADD] params dictionnary for predictor
  predictor/main_predictor.py
  predictor/params.py
Due: predictor_docker_image

[FIX] typo in name
  tweet_collector/collector-params-deploy
Due: collector_docker_image

[ADD] params file for learner
  learner/learner.py
  learner/main_learner.py
  learner/params.py
Due: none

[CLEAN]
  learner/learner.py
Due: none

[ADD] params dictionnary for consumers
  kafka_consumers/alert_consumer.py
  kafka_consumers/model_consumer.py
  kafka_consumers/params.py
  kafka_consumers/sample_consumer.py
  kafka_consumers/series_consumer.py
  kafka_consumers/stat_consumer.py
  kafka_consumers/tweets_consumers.py
Due: none

[ADD] params dictionnary for estimator
  hawkes_estimator/main_estimator.py
  hawkes_estimator/params.py
Due: estimator_docker_image

[CLEAN] rename file
  kafka_consumers/tweets_consumer.py
Due: none

[ADD] all consumers
  consumer_tmuxp.json
Due: none

[FIX] number of parameters rf
  learner/learner.py
  predictor/predictor.py
Due: predictor_docker_image

[UPDATE] readme file
  README.md
Due: none

[FIX] typo
  tweet_collector/cascade.py
Due: collector_docker_image
